html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

body {
    background: lightcyan;
}

h1 {
    font-size: 4rem;
    color: aquamarine;

}

header {
    background: black;
    padding: 0 5rem;
}

main {
    color: darkmagenta;
}